header{
  background-color:orange;
}
header h2{
  color:purple;
  text-align:center;
  text-decoration:underline;
}
header p{
  text-align:center;
  padding:10px;
  font-size:20px;
}
nav{
  background-color:cyan;
  color:red;
  padding:10px;
  text-align:center;
}
.jjj{
  text-align:center;
}
.jj{
  background-color:green;
  font-size:20px;
}
.j{
 background-color:red; 
}
