header h2{
  color:purple;
  background-color:orange;
  text-align:center;
  text-decoration:underline;
}
header p{
  text-align:center;
  background-color:orange;
  padding:10px;
}
nav{
  backgron-color:cyan;
  color:red;
  text-align:center;
}
